<h2>Ribs.js</h2>
<ul class="classList">
	<for each="thisClass" in="data">
	<li>{!
	    output += "<a href=\"#" + thisClass.alias+"\">";
		if (thisClass.alias == "_global_") {
			output += "<i>"+thisClass.alias+"</i>";
		}
		else {
			output += thisClass.alias;
		}
		output += "</a>";
	!}</li>
	</for>
</ul>
<hr />