<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ribs.js--Address Book Example</title>

    <style type="text/css">
        .view-item {
            width: 300px;
            padding: 3px 6px;
            cursor: hand;
            cursor: pointer;
            border: 1px solid transparent;
        }
        .view-item.hovering { border: 1px solid #888; }
        .view-item.selected { background: #aaa; }
    </style>

    <script src="lib/jquery-1.5.min.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/ribs.js"></script>

<!-- visualizer -->
    <!--<script src="../src/core.js"></script>
    <script src="../src/managedview.js"></script>
    <script src="../src/mixins/invalidateonchange.js"></script>
    <script src="../src/mixins/simplelist.js"></script>
    <script src="../src/mixins/templated.js"></script>
    <script src="../src/mixins/toggleableelement.js"></script>
    <script src="../src/mixins/edit/textvalueedit.js"></script>
    <script src="../src/mixins/statechange/cancelEdit.js"></script>
    <script src="../src/mixins/statechange/commitEdit.js"></script>
    <script src="../src/mixins/statechange/editable.js"></script>
    <script src="../src/mixins/statechange/hoverable.js"></script>
    <script src="../src/mixins/statechange/selectable.js"></script>
    <script src="../src/mixins/statechange/togglebutton.js"></script>
    <script src="../src/mixins/support/mixinbase.js"></script>
    <script src="../src/utils/uimanager.js"></script>-->
<!-- /visualizer -->

    <script type="text/javascript">
        $(function () {

            var people, PersonView, PersonEditView,
                PeopleView, PeopleEditView,
                personView, peopleView, peopleView2;

            // Create some data.
            people = new Backbone.Collection([
                { name: "Pekka", age: 23, city: "Helsinki" },
                { name: "Kaisa", age: 18, city: "Espoo" },
                { name: "Marja", age: 26, city: "Helsinki" },
                { name: "Markus", age: 46, city: "Helsinki" }
            ]);


            // Create a Backbone.View class for one person.
            PersonView = Ribs.createMixed({
                mixinClasses: [
                    Ribs.mixins.invalidateOnChange({
                        includedRibsUIAttributes: []
                    }),
                    Ribs.mixins.templated({
                        templateFunction: _.template($("#person-tmpl").html())
                    }),
                    Ribs.mixins.hoverable({ elementSelector: ".view-item" }),
                    Ribs.mixins.selectable({ elementSelector: ".view-item" })
                ]
            });

            PersonEditView = Ribs.createMixed({
                base: PersonView,
                mixinClasses: [
                    Ribs.mixins.editable({
                        elementSelector: ".edit-button"
                    }),

                    Ribs.mixins.textValueEdit({ attributeName: "name" }),
                    Ribs.mixins.textValueEdit({ attributeName: "age" }),
                    Ribs.mixins.textValueEdit({ attributeName: "city" }),
                        
                    Ribs.mixins.commitEdit({
                        elementSelector: ".save-button"
                    }),
                    Ribs.mixins.cancelEdit({
                        elementSelector: ".cancel-button"
                    }),
                    Ribs.mixins.toggleableElement({
                        elementSelector: ".view",
                        uiAttributeName: "editing",
                        inverse: true
                    }),
                    Ribs.mixins.toggleableElement({
                        elementSelector: ".edit",
                        uiAttributeName: "editing"
                    })
                ]
            });

            // Create a Backbone.View class for a list of people.
            PeopleView = Ribs.createMixed({
                mixinClasses: [
                    Ribs.mixins.simpleList({
                        ItemRenderer: PersonView,
                        itemTagName: "div",
                        itemClassName: "person"
                    })
                ]
            });

            // Create a Backbone.View class for a list of people.
            PeopleEditView = Ribs.createMixed({
                mixinClasses: [
                    Ribs.mixins.simpleList({
                        ItemRenderer: PersonEditView,
                        itemTagName: "div",
                        itemClassName: "person"
                    })
                ]
            });

            // Create an instance of PersonView and
            // append to #person-container
            personView = new PersonView({ model: people.at(2) }),
            $("#person-container").append(personView.el);

            // Create an instance of PersonView and
            // append to #people-container
            peopleView = new PeopleView({ model: people })
            $("#people-container").append(peopleView.el);

            // Create another instance of PeopleEditView by
            // giving it a reference to #people-container-2
            peopleView2 = new PeopleEditView({
                model: people, el: $("#people-container-2")
            });


        });

    </script>

<!-- visualizer -->
    <link href="css/visualizer.css" rel="stylesheet">
    <script src="js/visualizer.js"></script>
    <script>
        $(function () {
            visualize("address_book.html");
        });
    </script>
<!-- /visualizer -->

</head>
<body>

<h2>One item:</h2>
<div id="person-container"></div>

<h2>List containing the first item:</h2>
<div id="people-container"></div>

<h2>Another list with the same model:</h2>
<div id="people-container-2"></div>

<script id="person-tmpl" type="text/html">
<div class="view">
    <span class="view-item"><%= name %>
        (age: <%= age %>, city: <%= city %>)</span>
    <a class="edit-button" style="display:none">edit</a>
</div>
<div class="edit" style="display:none">
    <span><input type="text" name="name"/>
        (age: <input type="text" name="age"/>,
        city: <input type="text" name="city"/>)
        <a class="cancel-button">cancel</a>
        <a class="save-button">save</a>
    </span>
</div>
</script>

</body>
</html>