<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ribs.js--Address Book Example</title>

    <style type="text/css">
        body {
            font-family: "Helvetica Neue", "Helvetica", "Arial", sans;
            font-size: 10pt;
        }
        .person {
            width: 45%;
            cursor: hand;
            cursor: pointer;
            border: 1px solid transparent;
            
        }
        .person.editable {
            height: 29px;
        }
        .person.hovering { border: 1px solid #888; }
        .person.colored {
            background: #f0f0f0;
        }
        .person.selected {
            background: #888;
            color: #fff;
        }
        .view, .edit {
            padding: 3px 6px;
        }
        .view-item {
            display: inline-block;
            width: 100%;
            margin-right: -60px;
        }
        .edit-item {
            display: inline-block;
            width: 100%;
            margin-right: -114px;
        }
        .button {
            width: 40px;
            text-align: center;
            display: inline-block;
            color: #101010;
            background: #e0e0e0;
            border: 1px solid #909090;
            border-radius: 4px;
            padding: 1px 4px;
        }
        .button:hover {
            border-color: #303030;
        }
    </style>

    <script src="lib/jquery-1.5.min.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <!--<script src="lib/ribs.js"></script>-->

<!-- visualizer -->
    <script src="../src/core.js"></script>
    <script src="../src/managedview.js"></script>
    <script src="../src/mixins/invalidateonchange.js"></script>
    <script src="../src/mixins/simplelist.js"></script>
    <script src="../src/mixins/templated.js"></script>
    <script src="../src/mixins/combined/editable.js"></script>
    <script src="../src/mixins/combined/hoverable.js"></script>
    <script src="../src/mixins/combined/selectable.js"></script>
    <script src="../src/mixins/combined/openable.js"></script>
    <script src="../src/mixins/edit/selectedit.js"></script>
    <script src="../src/mixins/edit/textvalueedit.js"></script>
    <script src="../src/mixins/statechange/cancelEdit.js"></script>
    <script src="../src/mixins/statechange/commitEdit.js"></script>
    <script src="../src/mixins/statechange/toggleattribute.js"></script>
    <script src="../src/mixins/support/mixincomposite.js"></script>
    <script src="../src/mixins/visual/everyotherchild.js"></script>
    <script src="../src/mixins/visual/toggleableelement.js"></script>
    <script src="../src/mixins/visual/toggleableclass.js"></script>
    <script src="../src/utils/uimanager.js"></script>
    <script src="../src/utils/uimodelutils.js"></script>
<!-- /visualizer -->

    <script type="text/javascript">
        $(function () {

            var people, PersonViewBase, PersonView, PersonEditView,
                PeopleView, PeopleEditView,
                personView, peopleView, peopleView2;

            // Create some data.
            people = new Backbone.Collection([
                { name: "Pekka", age: 23, gender: "male", city: "Helsinki" },
                { name: "Kaisa", age: 18, gender: "female", city: "Espoo" },
                { name: "Maiju", age: 26, gender: "female", city: "Helsinki" },
                { name: "Markus", age: 46, gender: "male", city: "Helsinki" }
            ]);

            Ribs.createUIManager("peopleManager");
            Ribs.uiManagers.peopleManager.register(people);


            // Create a Backbone.View class for one person.
            PersonViewBase = Ribs.createMixed({
                mixins: [
                            { invalidateOnChange: { includedRibsUIAttributes: ["editing"] }},
                            { templated: { templateFunction: _.template($("#person-tmpl").html()) }},
                            { hoverable: {} }
                        ]
            });

            PersonView = Ribs.createMixed({
                mixins: [
                    { invalidateOnChange: { includedRibsUIAttributes: ["editing"] }},
                    { templated: { templateFunction: _.template($("#person-tmpl").html()) }},
                    { selectable: {} }
                ]
            });


            PersonEditView = Ribs.createMixed({
                base: PersonViewBase,
                mixins: {
                    "*": [
                        { textValueEdit: { attributeName: "name" }},
                        { textValueEdit: { attributeName: "age" }},
                        { textValueEdit: { attributeName: "city" }},
                        { selectEdit: {
                            attributeName: "gender",
                            options: [
                                { value: "unknown", text: "unknown" },
                                { value: "male", text: "male" },
                                { value: "female", text: "female" }
                            ]
                        }}
                    ],
                    ".view": [
                        {
                            toggleableElement: {
                                uiAttributeName: "editing",
                                inverse: true
                            },
                            toggleAttribute: { uiAttributeName: "editing" }
                        }
                    ],
                    ".edit": [
                        { toggleableElement: {
                            uiAttributeName: "editing"
                        }}
                    ],
                    ".save-button": [
                        { commitEdit: {} }
                    ],
                    ".cancel-button": [
                        { cancelEdit: {} }
                    ]
                }
            });

            // Create a Backbone.View class for a list of people.
            PeopleView = Ribs.createMixed({
                mixins: [
                    { simpleList: {
                        ItemRenderer: PersonView,
                        itemTagName: "div",
                        itemClassName: "person"
                    }}
                ]
            });

            // Create a Backbone.View class for a list of people.
            PeopleEditView = Ribs.createMixed({
                mixins: [
                    {
                        simpleList: {
                            ItemRenderer: PersonEditView,
                            itemTagName: "div",
                            itemClassName: "person editable"
                        },
                        everyOtherChild: {
                            childClassName: "colored"
                        }
                    }
                ]
            });

            // Create an instance of PersonView and
            // append to #person-container
            personView = new PersonView({ model: people.at(2) }),
            $("#person-container").append(personView.el);

            // Create an instance of PersonView and
            // append to #people-container
            peopleView = new PeopleView({ model: people })
            $("#people-container").append(peopleView.el);

            // Create another instance of PeopleEditView by
            // giving it a reference to #people-container-2
             peopleView2 = new PeopleEditView({
                 model: people, el: $("#people-container-2")
            });


        });

    </script>

<!-- visualizer -->
    <link href="css/visualizer.css" rel="stylesheet">
    <script src="js/visualizer.js"></script>
    <script>
        $(function () {
            visualize("address_book2.html");
        });
    </script>
<!-- /visualizer -->

</head>
<body>

<h2>One item:</h2>
<div id="person-container"></div>

<h2>One selectable:</h2>
<div id="people-container"></div>

<h2>Click item to edit:</h2>
<div id="people-container-2"></div>

<script id="person-tmpl" type="text/html">
<div class="view">
    <span class="view-item"><%= name %>
        (age: <%= age %>,
        gender: <%= gender %>,
        city: <%= city %>)
        <i><%= hasOwnProperty("editing") ? (editing ? "[editing]" : "") : "" %></i></span>
</div>
<div class="edit" style="display:none">
    <span class="edit-item"><input type="text" name="name" style="width: 80px"/>
        (age: <input type="text" name="age" style="width: 20px"/>,
        gender: <select name="gender"></select>
        city: <input type="text" name="city" style="width: 60px"/>)
    </span>
    <div class="cancel-button button">cancel</div>
    <div class="save-button button">save</div>
</div>
</script>

</body>
</html>