<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ribs.js--Quick Start Example</title>

    <style type="text/css">
        .person {
            width: 300px;
            padding: 3px 6px;
            cursor: hand;
            cursor: pointer;
            border: 1px solid transparent;
        }
        .person.hovering { border: 1px solid #888; }
        .person.selected { background: #aaa; }
    </style>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0 0 0 10px;
        }
        #code-container {
            position: fixed;
            overflow: auto;
            right: 0;
            top: 0;
            bottom: 0;
            width: 50%;
            padding: 3px 10px;
            border-left: 3px solid black;
            background: #f0f0f0;
        }
    </style>

    <script src="lib/jquery-1.5.min.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/ribs.js"></script>

    <script type="text/javascript">
        $(function () {

            var people, PersonView, PeopleView,
                personView, peopleView, peopleView2;

            // Create some data.
            people = new Backbone.Collection([
                { name: "Pekka", age: 23, city: "Helsinki" },
                { name: "Kaisa", age: 18, city: "Espoo" },
                { name: "Maiju", age: 26, city: "Helsinki" },
                { name: "Markus", age: 46, city: "Helsinki" }
            ]);

            // Create a Backbone.View class for one person.
            PersonView = Ribs.createMixed({
                mixinClasses: [
                    Ribs.mixins.templated({
                        templateFunction: _.template(
                            $("#person-tmpl").html()
                        ),
                        className: "person"
                    }),
                    Ribs.mixins.hoverable(),
                    Ribs.mixins.selectable()
                ]
            });

            // Create a Backbone.View class for a list of people.
            PeopleView = Ribs.createMixed({
                mixinClasses: [
                    Ribs.mixins.simpleList({
                        ItemRenderer: PersonView
                    })
                ]
            });

            // Create an instance of PersonView.
            personView = new PersonView({ model: people.at(2) });
            $("#person-container").append(personView.el);

            // Create an instance of PersonView.
            peopleView = new PeopleView({ model: people });
            $("#people-container").append(peopleView.el);

            // Create another instance of PeopleView via
            // direct reference to DOM element.
            peopleView2 = new PeopleView({
                model: people,
                el: $("#people-container-2")
            });

        });

    </script>

<!-- visualizer -->
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "quick_start.html",
                success: function (data) {
                    var lines = data.split("\n"),
                        result = "",
                        removing = false;
                    while(lines.length > 0) {
                        if (lines[0] === "<!-- visualizer -->") {
                            removing = true;
                        }
                        !removing && (result += lines[0] + "\n");
                        if(lines[0] === "<!-- /visualizer -->") {
                            removing = false;
                        }
                        lines.splice(0, 1);
                    }
                    $("#code-text").text(result);
                },
                error: function () {
                    $("#code-text").text("Error occured while loading the code.");
                }
            });

        });
    </script>
<!-- /visualizer -->

</head>
<body>

<h2>One item:</h2>
<div id="person-container"></div>

<h2>List containing the first item:</h2>
<div id="people-container"></div>

<h2>Another list with the same model:</h2>
<div id="people-container-2"></div>

<!-- visualizer -->
<div id="code-container">
    <pre id="code-text"></pre>
</div>
<!-- /visualizer -->

<script id="person-tmpl" type="text/html">
<%= name %> (age: <%= age %>, city: <%= city %>)
</script>

</body>
</html>