<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ribs.js--Trivial Example</title>

    <link href="css/generic.css" rel="stylesheet">

    <script src="../lib/jquery-1.6.1.js"></script>
    <script src="../lib/underscore.js"></script>
    <script src="../lib/backbone.js"></script>
    <!--<script src="lib/ribs-core-0.0.90b.js"></script>
    <script src="lib/ribs-mixins-0.0.90b.js"></script>
    <script src="lib/ribs-backbone-0.0.90b.js"></script>-->

    <!-- include source files here... -->
    <script src="../src/core/package.js"></script>
    <script src="../src/core/errors.js"></script>
    <script src="../src/core/jquery.ribs.js"></script>
    <script src="../src/core/ribs.js"></script>
    <script src="../src/core/utils/package.js"></script>
    <script src="../src/core/utils/parser.js"></script>
    <script src="../src/core/utils/utils.js"></script>
    <script src="../src/core/utils/functions/modelresolve.js"></script>
    <script src="../src/core/utils/functions/resolvechildrenelements.js"></script>
    <script src="../src/core/mixins/package.js"></script>
    <script src="../src/core/mixins/support/bindalltothis.js"></script>
    <script src="../src/core/mixins/support/deferredrender.js"></script>
    <script src="../src/core/mixins/support/initializing.js"></script>
    <script src="../src/core/mixins/support/mymodel.js"></script>
    <script src="../src/core/mixins/support/parental/renderchain.js"></script>
    <script src="../src/core/mixins/support/elemental/disposeable.js"></script>
    <script src="../src/core/mixins/support/elemental/element.js"></script>
    <script src="../src/core/mixins/support/elemental/eventful.js"></script>
    <script src="../src/core/mixins/support/elemental/hideable.js"></script>
    <script src="../src/core/mixins/support/elemental/templated.js"></script>
    <script src="../src/core/mixins/support/parental/delegaterendering.js"></script>
    <script src="../src/core/mixins/support/parental/duplicating.js"></script>
    <script src="../src/core/mixins/support/parental/methodinherit.js"></script>
    <script src="../src/core/mixins/support/parental/parent.js"></script>
    <script src="../src/core/mixins/support/parental/parsing.js"></script>
    <script src="../src/core/mixins/support/parental/propertyinherit.js"></script>
    <script src="../src/core/mixins/composite.js"></script>
    <script src="../src/core/mixins/elementpivot.js"></script>
    <script src="../src/core/mixins/plain.js"></script>
    <script src="../src/core/mixins/templated.js"></script>

    <script src="../src/backbone/package.js"></script>
    <script src="../src/backbone/ribs.backbone.js"></script>
    <script src="../src/backbone/mixins/package.js"></script>
    <script src="../src/backbone/mixins/support/invalidating.js"></script>
    <script src="../src/backbone/mixins/support/model/modelaccess.js"></script>
    <script src="../src/backbone/mixins/support/model/modelbase.js"></script>
    <script src="../src/backbone/mixins/support/model/modeljson.js"></script>
    <script src="../src/backbone/mixins/support/modelsupport.js"></script>
    <script src="../src/backbone/mixins/pivot.js"></script>
    <script src="../src/backbone/mixins/simplelist.js"></script>
    <script src="../src/backbone/utils/utils.js"></script>


    <script type="text/javascript">

        $(function () {
            Ribs.backbone.init();

            var myCollection = new Backbone.Collection([
                    { name: "Petteri", age: 11 },
                    { name: "Pekka", age: 13 },
                    { name: "Petteri", age: 15 }
                ]);

            var renderer = Ribs.view([
                    {"templated":{
                        myModelName: "data",
                        templateSelector: "#my-template"
                    }}
                ], { redrawHash: { data: "name" } });

            var list = Ribs.view([
                    {"backbone.simpleList":{
                        myModelName: "data",
                        itemRenderer: renderer
                    }}
                ]);

            $("#list-container").ribs("createView", list, { backboneModels: { data: myCollection } });

            setTimeout(function () {
                myCollection.at(0).set({ name: "Gary" })
            }, 1000);
        });

    </script>

</head>
<body>
    <div id="container"></div>
    <div id="list-container"></div>

    <script id="my-template" type="text/html">
        <h1>Name: <%= name %>, age: <%= age %></h1>
    </script>
</body>
</html>